name: Portfolio

on:
  push:
    branches:   
      - main
      - form
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "This is test run"



